<mat-card>
    <button mat-raised-button color="primary" class="btn btn-block mb-3" [routerLink]="['/new']">Create new</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">IBAN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td scope="row">
                    <button mat-raised-button color="primary" [routerLink]="['/edit', user.id]" [disabled]="!user.own">Edit</button>
                    <button mat-raised-button color="warn" (click)="delete(user)" [disabled]="!user.own">Delete</button>
                </td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.iban }}</td>
            </tr>

        </tbody>
    </table>

</mat-card>