<mat-card>
    <div class="form-container">
        <mat-form-field>
            <input matInput placeholder="First name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="IBAN">
        </mat-form-field>
        <button (click)="guardar()" mat-raised-button color="primary" class="btn btn-block">
            <span *ngIf="id !== undefined">Update</span>
            <span *ngIf="id === undefined">Create</span>
        </button>
    </div>
</mat-card>