<mat-card>
    <form [formGroup]="form" class="form-container">
        <mat-form-field>
            <input matInput placeholder="First name" formControlName="first_name">
        </mat-form-field>
        <mat-error *ngIf="form.get('first_name').errors?.required && form.get('first_name').touched">
            First name is <strong>required</strong>
        </mat-error>
        <mat-form-field>
            <input matInput placeholder="Last name" formControlName="last_name">
        </mat-form-field>
        <mat-error *ngIf="form.get('last_name').errors?.required && form.get('last_name').touched">
            Last name is <strong>required</strong>
        </mat-error>
        <mat-form-field>
            <input matInput placeholder="IBAN" formControlName="iban">
        </mat-form-field>
        <mat-error *ngIf="form.get('iban').errors?.required && form.get('iban').touched">
            Iban is <strong>required</strong>
        </mat-error>
        <button (click)="guardar()" mat-raised-button color="primary" class="btn btn-block" [disabled]="!form.valid">
            <span *ngIf="id">Update</span>
            <span *ngIf="!id">Create</span>
        </button>
    </form>
</mat-card>